# Postgres connection
PGHOST=localhost
PGPORT=5432
PGDATABASE=transjakarta_gtfs
PGUSER=etl_writer
PGPASSWORD=etl_writer_change_me

# GTFS source (Transitland)
GTFS_FEED_URL=https://transitland.com/api/v2/rest/datafeeds/f-transjakarta~id
