# Postgres connection
PGHOST=localhost
PGPORT=5432
PGDATABASE=transjakarta_gtfs
PGUSER=etl_writer
PGPASSWORD=etl_writer_change_me

# API connection (read-only role)
PGAPI_USER=dashboard_reader
PGAPI_PASSWORD=dashboard_reader_change_me

# GTFS source (Transjakarta official)
GTFS_FEED_URL=https://gtfs.transjakarta.co.id/files/file_gtfs.zip
